.vscode/
.ipynb_checkpoints/
datafiles/
MPV/
other/

dEdx/*.so
dEdx/*.d
dEdx/*.pcm

event_display/*.so
event_display/*.d
event_display/.*pcm

PID/BDTtesi
PID/*.so
PID/*.d
PID/*.pcm
PID/selection_new_PID/*.so
PID/selection_new_PID/*.d
PID/selection_new_PID/*.pcm




