.vscode/
.ipynb_checkpoints/
datafiles/
MPV/
other/
PID/grafici
PID/BDT
PID/*.so
PID/*.d
PID/*.pcm
dEdx/*.so
dEdx/*.d
dEdx/*.pcm
event_display/*.so
event_display/*.d
event_display/.*pcm
event_display/dumpRollingMedian.txt
event_display/logSelection.txt
event_display/tracce_Run9435_1d_deconv.txt
event_display/tracce3Ddedx.txt
