.vscode/
.ipynb_checkpoints/

datafiles/
MPV/
other/

dEdx/root_files_mpv

PID/BDTtesi

*ACLiC*

*.so
*.d
*.pcm

*.root
*.txt

conda_env/
mamba_pkgs_cache/
bin/


/systematics/OVerlay_2

/systematics/NEW_MC

/PID/selection1muNp_PIDfinale/debug1mu0p0pi

LATEX/

/systematics/DEDX_VAR/*
